.wrapper {
    position: relative;
    display: grid;
    place-items: center;
    //background: grey;
    overflow: hidden;
}

.cover {
    position: absolute;
    background: black;
    width: 1024px;
    height: 768px;
    z-index: 99;
    color: white;
    font-family: var(--textUX);
}

.fader {
    position: absolute;
    background: black;
    width: 1024px;
    height: 768px;
    z-index: 98;
    opacity: 1;
    pointer-events: none;
    transform: scale(1.01);
    
}
[started=true] {
    animation: init .4s .2s 1 forwards steps(6);
}
@keyframes init {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.mainWindow {
    position: relative;
    width: 1024px;
    height: 768px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bglive {
    position: absolute;
    width: 1024px;
    height: 768px;
    background: white;
}

#sideOrnament {
    position: absolute;
    fill: black;
    z-index: 1;
    margin-left: -.1em;
    transform: scaleY(1.01);
}

#iconOrnament {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-top: 2rem;
        z-index: 1;
}

#menuButtons {
    z-index: 2;
    padding-left: 3em;
}

.pageName {
    font-family: var(--textOrnament);
    font-weight: 700;
    margin-left: .3em;
    font-size: 5rem;
    user-select: none;
    color: rgb(59, 59, 59);
}

#menuButtons>.buttonComponent {
    --ladderLimit: 7em;
    &:nth-child(2) {
      margin-left: calc(var(--ladderLimit) * 1);
    }
  
    &:nth-child(3) {
        margin-left: calc(var(--ladderLimit) * 2);
    }
  
    &:nth-child(4) {
        margin-left: calc(var(--ladderLimit) * 3);
    }
  
    &:nth-child(5) {
        margin-left: calc(var(--ladderLimit) * 4);
    }
  }