.wrapper {
    position: relative;
    display: grid;
    place-items: center;
    //background: grey;
    overflow: hidden;
}

.cover {
    position: absolute;
    background: black;
    width: var(--windowSizeX);
    height: var(--windowSizeY);
    z-index: 100;
    color: white;
    font-family: var(--textUX);
}

.fader {
    position: absolute;
    background: black;
    width: var(--windowSizeX);
    height: var(--windowSizeY);
    z-index: 98;
    opacity: 1;
    pointer-events: none;
    transform: scale(1.01);
    opacity: 1;
    transition: all .4s .2s;
}

.logoSplash {
    position: absolute;
    background: black;
    width: var(--windowSizeX);
    height: var(--windowSizeY);
    z-index: 99;
    opacity: 1;
    pointer-events: none;
    opacity: 1;
    transition: all .4s .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoDisc {
    font-family: var(--textOrnament);
    animation: discFade 300ms 1.5s forwards;
    opacity: 0;
}

@keyframes discFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

[started=true] {

    opacity: 0;
}

@keyframes init {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.mainWindow {
    position: relative;
    width: var(--windowSizeX);
    height: var(--windowSizeY);
    border: solid 1px;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
}

.monoFilter {
    display: var(--monoFilterState);
    position: absolute;
    width: var(--windowSizeX);
    height: var(--windowSizeY);
    backdrop-filter: grayscale(10);
    z-index: 102;
    pointer-events: none;
}


.bglive {
    position: absolute;
    width: var(--windowSizeX);
    height: var(--windowSizeY);
    background: white;
    z-index: -2;
    animation: bgliveRainbow calc(var(--tempo)*8) infinite linear;
}

@keyframes bgliveRainbow {
    from {
        filter: hue-rotate(0deg) brightness(1.5);
    }

    to {
        filter: hue-rotate(360deg) brightness(1.5);
    }
}

#screenOrnaments {
    transition: all 180ms var(--easingDefault);
}

#sideOrnament {
    position: absolute;
    fill: black;
    z-index: 2;
    margin-left: -.1em;
    transform: scaleY(1.01);
}

#iconOrnament {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-top: 2rem;
    z-index: 1;
}

.menuButtons {
    position: relative;
    z-index: 1;
    padding-left: 3em;
    transition: all .20835s var(--easingDefault);
    user-select: none;
}

.pageName {
    font-family: var(--textOrnament);
    font-weight: 700;
    margin-left: .3em;
    font-size: 5rem;
    user-select: none;
    color: rgb(59, 59, 59);
}

#buttonArrayInline {
    &::-webkit-scrollbar {
        display: none;
    }
    height: 585px;
    overflow: scroll;
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-start;
}

.menuButtons>.buttonComponent {
    &:nth-child(2) {
        margin-left: calc(var(--ladderLimit) * 1);
    }

    &:nth-child(3) {
        margin-left: calc(var(--ladderLimit) * 2);
    }

    &:nth-child(4) {
        margin-left: calc(var(--ladderLimit) * 3);
    }

    &:nth-child(5) {
        margin-left: calc(var(--ladderLimit) * 4);
    }
}

.buttonComponent {
    animation: var(--xWiggle);

    &:nth-child(1) {
        animation-delay: 0ms;
    }

    &:nth-child(2) {
        animation-delay: -300ms;
    }

    &:nth-child(3) {
        animation-delay: -600ms;
    }

    &:nth-child(4) {
        animation-delay: -1200ms;
    }

    &:nth-child(5) {
        animation-delay: -1700ms;
    }
}

@keyframes xWiggle {
    from {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(3px)
    }
}

.menuGameplay,
.submenu-gameplay-where,
.submenu-gameplay-accessibility,
.menuAudio,
.menuGameData,
.menuAbout {
    display: none;
}