body {
    display: grid;
    place-items: center;
    height: 100vh;
    overflow-y: hidden;
    background: rgb(29, 29, 29);
}

@font-face {
    font-family: "Orbitron-Black";
    src: url(../fonts/Orbitron-Black.ttf) format("truetype");
    font-weight: 1 1000;
}

@font-face {
    font-family: "ACES07_Regular";
    src: url(../fonts/ACES07_Regular.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Erte";
    src: url(../fonts/Erte.otf) format("opentype");
    font-weight: 300;
}

:root {
    --windowSizeX: 1024px;
    --windowSizeY: 768px;
    --textOrnament: "Orbitron-Black";
    --textUX: "ACES07_Regular";
    --textUX2: "Erte";
    --iconOrnament: rgb(100, 100, 100);
    --inactiveFill: rgb(53, 53, 53);
    --inactiveStroke: white;
    --inactiveText: white;
    --highlightWidth: 80px;
    //animation
    --fps: steps(10);
    --tempo: .417s;
    --elementTransitionTimer: .20835s;
    --inactiveHighlight: translateX(-70px);
    --brgb: bgRGB .5s infinite;
    --srgb: strokeRGB .5s infinite;
    --flickerText: textFlicker .1s infinite;
    --flickerFill: fillFlicker .1s infinite;
    --buttonEvent: translate(-700px, 0);
    --ladderLimit: 7em;
    --easingDefault: cubic-bezier(1, .09, .77, .99);
    --xWiggle: xWiggle calc(var(--tempo)*4) infinite cubic-bezier(.5, 0, .5, 1);
}

[button-state=true] {
    --inactiveFill: rgb(241, 241, 241);
    --inactiveStroke: rgb(0, 0, 0);
    --inactiveText: rgb(49, 49, 49);
    --inactiveHighlight: translateX(0px);
    --buttonJump: jump .1s 1;
}

.toggleON {
    & .buttonHighlight {
        position: absolute;
        --inactiveHighlight: translateX(0px);
        --highlightWidth: 150px;
        --brgb: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: var(--inactiveStroke);
        border: solid 3px;
        box-sizing: border-box;
        font-family: var(--textUX);
        font-size: 3.4rem;
        text-align: right;
        margin-left: 7.2em;
        padding-right: 1rem;
        padding-top: .15em;
        font-weight: 700;
        color: var(--inactiveFill);
    }
}

.buttonEnter {
    transform: var(--buttonEvent);
    --ladderLimit: 0em;
}

.noladder {
    --ladderLimit: 0em;
}

.hideOrnaments {
    transform: translateX(-1024px);
}

@keyframes jump {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0px);
    }
}

.menuButton[poke=true] {
    animation: buttonClick .2s 3 steps(2)
}

@keyframes buttonClick {
    0% {
        stroke: white;
        fill: rgb(53, 53, 53);
    }

    20% {
        stroke: rgb(53, 53, 53);
        fill: white;
    }

    40% {
        stroke: rgb(53, 53, 53);
        fill: white;
    }

    60% {
        stroke: white;
        fill: rgb(53, 53, 53);
    }

    80% {
        stroke: rgb(53, 53, 53);
        fill: white;
    }

    100% {
        stroke: white;
        fill: rgb(53, 53, 53);
    }
}

@keyframes bgRGB {
    0% {
        background: rgb(255, 42, 42);
    }

    11% {
        background: rgb(255, 158, 67);
    }

    22% {
        background: rgb(255, 228, 73);
    }

    33% {
        background: rgb(109, 255, 73);
    }

    50% {
        background: rgb(104, 232, 255);
    }

    66% {
        background: rgb(72, 90, 255);
    }

    77% {
        background: rgb(195, 44, 255);
    }

    88% {
        background: rgb(255, 68, 155);
    }

    100% {
        background: rgb(255, 42, 42);
    }
}

@keyframes fillRGB {
    0% {
        fill: rgb(255, 42, 42);
    }

    11% {
        fill: rgb(255, 158, 67);
    }

    22% {
        fill: rgb(255, 228, 73);
    }

    33% {
        fill: rgb(109, 255, 73);
    }

    50% {
        fill: rgb(104, 232, 255);
    }

    66% {
        fill: rgb(72, 90, 255);
    }

    77% {
        fill: rgb(195, 44, 255);
    }

    88% {
        fill: rgb(255, 68, 155);
    }

    100% {
        fill: rgb(255, 42, 42);
    }
}

@keyframes strokeRGB {
    0% {
        stroke: rgb(255, 42, 42);
    }

    11% {
        stroke: rgb(255, 158, 67);
    }

    22% {
        stroke: rgb(255, 228, 73);
    }

    33% {
        stroke: rgb(109, 255, 73);
    }

    50% {
        stroke: rgb(104, 232, 255);
    }

    66% {
        stroke: rgb(72, 90, 255);
    }

    77% {
        stroke: rgb(195, 44, 255);
    }

    88% {
        stroke: rgb(255, 68, 155);
    }

    100% {
        stroke: rgb(255, 42, 42);
    }
}